.appbar {
  position: sticky !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: #f6f7f8 !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.tabs {
  border-bottom: 8px !important;
  position: sticky !important;
  top: 90 !important;
  background-color: #f6f7f8 !important;
  z-index: 2 !important;
}

.drawer {
  background-color: #f6f7f8;
  height: 100%;
  overflow: auto;
}

.mainmenu {
  background: rgb(239, 169, 174);
  background: linear-gradient(
    90deg,
    rgba(239, 169, 174, 1) 25%,
    rgba(229, 83, 129, 1) 50%,
    rgba(216, 30, 91, 1) 75%,
    rgba(112, 22, 30, 1) 100%
  );
}

.appbaroptions {
  margin-left: 16px;
}

.pfp {
  border-radius: 50%;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
