.appbar {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
}

.mainmenu {
  background: rgb(239, 169, 174);
  background: linear-gradient(
    90deg,
    rgba(239, 169, 174, 1) 25%,
    rgba(229, 83, 129, 1) 50%,
    rgba(216, 30, 91, 1) 75%,
    rgba(112, 22, 30, 1) 100%
  );
}

.appbaroptions {
  margin-left: 16px;
}

.pfp {
  border-radius: 50%;
}
