html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Serif 4", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
}
