.homeContainer {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: auto;
  margin-bottom: 32px;
}

.avatar {
  border-radius: 50%;
}
